body {
    font-family: "Roboto", sans-serif;
}

.main-header {
    padding: 20px 0;
    transition: .3s;
    background-color: #fff;
}

.home-page .main-header {
    background-color: transparent;
}

.main-header .navbar-nav li {
    margin-left: 20px;
}

.home-page .main-header .colour-logo {
    display: none;
}

.home-page .main-header .white-logo {
    display: inline-block;
}

.home-page .main-header.sticky-active .white-logo {
    display: none;
}

.home-page .main-header.sticky-active .colour-logo {
    display: inline-block;
}

.main-header.sticky-active {
    background-color: #fff;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.1);
}

.main-header .navbar-nav .nav-link {
    color: #152C5A;
    font-family: "LemonBold", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.caption img {
    width: 200px;
    margin-left: -55px;
}

.caption.text-end img {
    margin-right: -50px;
    margin-left: 0;
}

.main-header .navbar-nav li.nav-item a.nav-link.active,
.main-header .navbar-nav li.nav-item a.nav-link:hover {
    color: #DF6124;
}

.main-header .navbar-nav li.nav-item a.nav-link:hover {
    text-decoration: underline;
}

.video-section .video-wrapper {
    position: relative;
}

.video-section .video-wrapper img {
    border-radius: 20px;
}

.video-section .video-wrapper i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 60px;
    color: #fff;
    transform: translate(-50%, -50%);
}

.steps-section .step-number {
    font-size: 70px;
}

.steps-section h4 {
    color: #152C5A;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
}

.steps-section p {
    font-size: 16px;
    color: #0C1933;
}

.steps-section .step-image img {
    width: 85%;
    margin-bottom: 200px;
}

.steps-section .col-md-6:last-child .step-image img {
    margin-bottom: 0;
}

.steps-section .step-number img {
    height: 130px;
    margin-left: -40px;
    margin-bottom: 40px;
}

.banner-section .container-fluid,
.why-section .container-fluid {
    padding-left: 112px;
    padding-right: 0;
    overflow: hidden;
}

.why-section .container-fluid .service-image img {
    width: 680px;
}

.why-section .caption {
    margin-bottom: 20px;
}

.why-section .why-item {
    margin-bottom: 20px;
}

.why-section .bullet {
    width: 35px;
}

.why-section .description {
    margin-left: 50px;
    width: calc(100% - 90px);
    color: #0C1933;
}

.why-section .description h4 {
    font-weight: 700;
    font-size: 20px;
}


body.home-page,
body.about-us-page,
body.contact-us-page {
    background-color: #F3F2F7;
}

.banner-section .google-wrapper {
    color: #E06226;
    margin-top: 20px;
}

.banner-section .google-wrapper .google-rate,
.banner-section .google-wrapper .google-desc {
    display: inline-block;
}

.banner-section .google-wrapper .google-desc {
    color: #fff;
    margin-left: 20px;
}

.why-section {
    padding: 20px 0 50px;
}

.banner-section,
.increase-section,
.steps-section,
.video-section {
    padding: 50px 0;
}

.grow-section {
    padding: 0 0 50px;
}

.grow-section h4 {
    font-size: 18px;
    text-transform: uppercase;
    color: #0C1933;
    font-family: "LemonBold", sans-serif;
}

.grow-section .card .card-body p {
    color: #0C1933;
    font-size: 16px;
    margin-bottom: 30px;
}

.grow-section .card .card-body {
    padding: 40px 40px 20px;
}

.grow-section .card .card-body .icon i {
    font-size: 110px;
    margin-bottom: 30px;
    color: #E06226;
}

.grow-section .card {
    position: relative;
    border: 3px solid #C7CBD7;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    background: transparent;
}

.grow-section .card h4 {
    font-size: 20px;
}

.grow-section .card:hover {
    border: 3px solid #0C1933;
    background-color: #0C1933;
    box-shadow: 6px 6px 20px #00000029;
}

.grow-section .card:hover h4,
.grow-section .card:hover p {
    color: #fff;
}

.grow-section .show-more {
    color: #DF6124;
    margin-top: 20px;
}

.grow-section .learn-more,
.grow-section .learn-more a {
    color: #152C5A;
    font-size: 16px;
    font-weight: 500;
}

.grow-section .learn-more span {
    margin-left: 10px;
}

.faqs-section {
    background-color: #F3F2F7;
    padding: 50px 0 0;
}

.banner-section,
.increase-section {
    position: relative;
}

.banner-section .banner-text h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 26px;
    text-transform: uppercase;
    font-family: "LemonBold", sans-serif;
}

.banner-section .banner-text {
    max-width: 500px;
}

.banner-section .banner-text img {
    position: absolute;
    right: -80px;
}

.banner-section .partner-slider {
    background: linear-gradient(to right, #152C5A 5%, #4f5e8d);
    padding: 30px 40px;
    border-radius: 10px;
    margin: 100px auto 50px;
    display: flex;
}

.banner-section .partner-slider h3 {
    color: #fff;
    text-transform: uppercase;
    font-family: "LemonBold", sans-serif;
    display: flex;
    vertical-align: middle;
    font-size: 20px;
    margin-bottom: 0;
    flex-basis: 35%;
    align-items: center;
}

.banner-section .partner-slider ul {
    flex-basis: 65%;
    display: flex;
    margin-bottom: 0;
    align-items: center;
}

.banner-section .partner-slider ul li {
    display: inline-block;
    width: 100%;
    padding: 20px;
}

.increase-section h3 {
    color: #fff;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "LemonBold", sans-serif;
}

.increase-section .increase-item {
    background-color: #fff;
    padding: 30px 30px 10px;
    border-radius: 20px;
    box-shadow: 6px 6px 26px #00000029;
    ;
    -webkit-box-shadow: 6px 6px 26px #00000029;
    ;
    -moz-box-shadow: 6px 6px 26px #00000029;
    ;
}

.bg-blue-twmg {
    background-color: #152C5A !important;
    color: #fff;
}

.increase-section .increase-item img {
    width: 60px;
}

.banner-section .bg-section {
    background-color: #0C1933;
    clip-path: polygon(40% 0%, 100% 80%, 100% 100%, 0 100%, 0 0);
    width: 100%;
    height: 115%;
    position: absolute;
    top: -100px;
}

.increase-section .bg-section {
    background-color: #0C1933;
    clip-path: polygon(0 0, 100% 0, 100% 15%, 0% 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.increase-section .increase-item h4 {
    margin: 20px auto;
    font-size: 20px;
}

.why-section h3,
.steps-section h3,
.video-section h3,
.grow-section h3,
.faqs-section h3 {
    color: #152C5A;
    margin-bottom: 30px;
    font-family: "LemonBold", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
}

.video-section h3,
.why-section h3 {
    margin-bottom: 50px;
}

.grow-section p.section-desc,
.faqs-section p.section-desc {
    color: #0C1933;
    margin-bottom: 40px;
}

.faqs-section .faqs-wrapper {
    margin-bottom: 100px;
}

.faqs-section .faqs-wrapper .caption {
    position: absolute;
}

.faqs-section button {
    position: relative;
    margin-top: 20px;
    box-shadow: none !important;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px;
    padding: 15px;
}

.faqs-section .left-item button {
    background-color: #0C1933;
    border: 2px solid #152C5A;
}

.faqs-section .right-item button {
    background-color: #F3F2F7;
    color: #152C5A;
    border: 2px solid #C7CBD7;
}

.faqs-section .left-item:first-child button,
.faqs-section .right-item:first-child button {
    margin-top: 0;
}

.faqs-section button:after {
    content: "\f068";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
}

.faqs-section button.collapsed:after {
    content: "\2b";
}

.faqs-section .right-item button:after {
    color: #C7CBD7;
}

.faqs-section .faqs-item .card-body {
    border: 0;
    background: transparent;
}

.about-section {
    padding: 50px 0;
}

.about-section p {
    font-size: 16px;
    color: #0C1933;
}

.about-section .card {
    padding: 30px 35px 0;
    border: 0;
    border-radius: 20px;
    margin-top: -150px;
}

.about-section .card-title h2 {
    font-size: 18px;
    color: #152C5A;
    font-family: "LemonBold", sans-serif;
}

.partner-list {
    margin-top: 35px;
}

.partner-list img {
    object-fit: contain;
    padding: 5px 0;
    max-width: 150px;
}

.about-image-section {
    padding: 100px 0;
    background: linear-gradient(to bottom, #F3F2F7 50%, #FFFFFF 50%);
}

.about-image-section .about-image img {
    border-radius: 20px;
}

.about-image span {
    margin-top: 13px;
    display: block;
    color: #939393;
    font-size: 12px;
    font-family: "ProximaRegular", sans-serif;
}

.about-description-section {
    padding: 0 0 50px;
    background-color: #FFFFFF;
}

.about-description-section .about-main-desc p {
    font-family: "ProximaRegular", sans-serif;
    font-size: 24px;
    color: #152C5A;
    line-height: 2.5rem;
}

.about-description-section .about-extra-desc p {
    font-family: "ProximaRegular", sans-serif;
    font-size: 18px;
    color: #152C5A;
    line-height: 1.8rem;
}

.who-we-are-section {
    padding: 100px 0;
    background-color: #F3F2F7;
}

.who-we-are-section h3 {
    font-size: 18px;
    font-family: "LemonBold", sans-serif;
    margin-bottom: 30px;
    color: #152C5A;
}

.who-we-are-section ul li {
    color: #152C5A;
    font-family: "ProximaMedium", sans-serif;
}

.who-we-are-section ul.why-we-do-list li {
    font-size: 18px;
}

.who-we-are-section .col-md-4:not(:last-child) .who-we-are-wrapper {
    border-right: 3px solid rgba(255, 87, 51, 0.2);
    width: 90%;
}

.letter-section {
    background: linear-gradient(90deg, #0C1933 0%, #264583 100%);
    padding: 100px 0 0;
    color: #fff;
}

.our-team-section h3,
.letter-section h3 {
    font-size: 18px;
    font-family: "LemonBold", sans-serif;
    margin-bottom: 30px;
}

.letter-section span.name {
    font-family: "ProximaBold", sans-serif;
    font-size: 16px;
}

.our-team-section {
    padding: 80px 0 50px;
}

.our-team-section h3 {
    color: #152C5A;
    margin-bottom: 50px;
}

.our-team-section p {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 0;
    color: #0C1933;
}

.our-team-section img {
    border-radius: 20px;
}

.our-team-section span {
    display: block;
    font-size: 16px;
    color: #0C1933;
    padding: 0 20px;
}

.contact-divide-section {
    background: url("/wp-content/themes/twmg/assets/images/divide-background.png") no-repeat center center;
    background-size: cover;
    padding: 185px 0;
    margin-bottom: 80px;
}

.contact-divide-section h3 {
    font-family: "LemonBold", sans-serif;
    font-size: 18px;
    color: #FFF;
}

.contact-us-section {
    padding: 30px 0;
}

.contact-us-section .card {
    border: 0;
    border-radius: 20px;
    color: #fff;
    background-color: #152C5A;
    padding: 50px 40px 0;
    margin-top: -140px;
}

.contact-us-section .card h2 {
    font-family: "LemonBold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-us-section .card h2 .underscore:after {
    content: url("/wp-content/themes/twmg/assets/images/contact-us-underscore.svg");
    position: absolute;
    width: 100%;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.contact-us-section .card label {
    font-family: "ProximaRegular", sans-serif;
    font-size: 14px;
}

.contact-us-section .card .wpcf7-form-control {
    width: 100%;
    padding: 4px;
    outline: 0;
}

.contact-us-section .card form p {
    margin-bottom: 25px;
}

.contact-us-section .card form .wpcf7-submit {
    color: #fff;
    background-color: #E06226;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    padding: 13px;
}

.top-banner {
    background-color: #0C1933;
    padding: 120px 0 30px;
}

.top-banner span {
    color: #E06226;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}

.top-banner h1 {
    color: #fff;
    font-size: 18px;
    font-family: "LemonBold", sans-serif;
    width: 75%;
}

.cta-section {
    padding: 50px 0;
    background: linear-gradient(to bottom, #F3F2F7 50%, #E7E7EF 50%);
}

.cta-section .container {
    position: relative;
}

.cta-section .caption {
    position: absolute;
    right: 0;
    top: -85px;
}

.cta-section .outer-border {
    background: url("/wp-content/themes/twmg/assets/images/cta-border.svg#svgView(preserveAspectRatio(none))");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 30px;
    width: 95%;
}

.cta-banner {
    background-color: #0C1933;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 20px 20px 30px #00000029;
    -webkit-box-shadow: 20px 20px 30px #00000029;
    -moz-box-shadow: 20px 20px 30px #00000029;
}

.cta-banner h4 {
    text-transform: uppercase;
    color: #fff;
    font-family: "LemonBold", sans-serif;
}

.cta-banner h4 .underscore:after {
    content: url("/wp-content/themes/twmg/assets/images/cta-underscore.svg");
    position: absolute;
    width: 125%;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.cta-banner h4,
.cta-banner p {
    width: 95%;
    margin: 50px auto 40px;
}

a.cta-button {
    background-color: #DF6124;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

a.cta-button i {
    margin-right: 10px;
}

.cta-banner p {
    color: #fff;
    font-size: 18px;
}

footer {
    background-color: #E7E7EF;
}

footer h5 {
    text-transform: uppercase;
    color: #152C5A;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "ProximaBold", sans-serif;
}

footer .footer-desc {
    color: #152C5A;
    margin-bottom: 25px;
    font-size: 18px;
    width: 90%;
    font-family: "ProximaRegular", sans-serif;
}

footer .footer-icon {
    margin-bottom: 30px;
}

footer .footer-info p,
footer .footer-info a {
    color: #DF6124;
    font-weight: 700;
    font-size: 24px;
    font-family: "ProximaBold", sans-serif;
}

footer .footer-info h5 {
    font-family: "ProximaBold", sans-serif;
    font-size: 18px;

}

footer .social-icons i {
    font-size: 35px;
    color: #DF6124;
}

footer .social-icons li {
    margin-right: 20px;
}

footer .subscribe-form p {
    margin-bottom: 5px;
    color: #152C5A;
    font-family: "ProximaMedium";
    font-size: 16px;
}

footer .subscribe-form input[type='email'] {
    border: 1px solid #0F1831;
    width: 100%;
    padding: 10px;
}

footer .subscribe-form input[type='submit'] {
    background-color: #152C5A;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    border: 0;
    width: 100%;
}

footer .footer-navigation a,
footer .footer-navigation a:hover {
    color: #DF6124;
    text-decoration: underline;
    display: inline-block;
    font-size: 18px;
    font-family: "ProximaMedium", sans-serif;
}

footer .copyright {
    background: transparent linear-gradient(90deg, #152C5A 0%, #3D5B97 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    padding: 25px;
    font-size: 12px;
    font-family: "ProximaBold", sans-serif;
}