:root {
    /* Colors: */
    --unnamed-color-152c5a: #152C5A;
    --unnamed-color-e06226: #E06226;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-0c1933: #0C1933;
    --unnamed-color-939393: #939393;
    --unnamed-color-f3f2f7: #F3F2F7;

    /* Font/text values */
    --unnamed-font-family-roboto: Roboto;
    --unnamed-font-family-lemon-milk: LEMON MILK;
    --unnamed-font-family-proxima-nova: Proxima Nova;
    --unnamed-font-family-futura-demi: FuturaDemi;
    --unnamed-font-family-futura-medium: FuturaMedium;
    --unnamed-font-weight-light: 300;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-medium: 500;
    --unnamed-font-weight-bold: 700;
    --unnamed-font-size-12: 12px;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-22: 22px;
    --unnamed-font-size-24: 24px;
    --unnamed-font-size-26: 26px;
    --unnamed-font-size-30: 30px;
    --unnamed-font-size-32: 32px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-26: 26px;
    --unnamed-line-spacing-32: 32px;
    --unnamed-text-transform-uppercase: uppercase;

    --box-shadow-default: 20px 20px 30px #00000029;
}

body {
    font-family: var(--unnamed-font-family-roboto), sans-serif;
}

h1 {
    font-size: var(--unnamed-font-size-26);
}

h1, h2, h5 {
    font-family: var(--unnamed-font-family-lemon-milk);
    margin-bottom: 15px;
}

h1, h2, h3, h5, h6 {
    font-weight: var(--unnamed-font-weight-bold);
}

h2, h3, h4 {
    font-size: var(--unnamed-font-size-18);
}

h4 {
    font-weight: var(--unnamed-font-weight-medium);
    margin-bottom: 15px;
}

h5, h6 {
    font-size: var(--unnamed-font-size-16);
}

.br-20 {
    border-radius: 20px;
}

.text-blue-twmg {
    color: var(--unnamed-color-152c5a);
}

.text-dark-blue-twmg {
    color: var(--unnamed-color-0c1933);
}

.bg-blue-twmg {
    background-color: var(--unnamed-color-152c5a) !important;
    color: var(--unnamed-color-ffffff);
}

.bg-dark-blue-twmg {
    background-color: var(--unnamed-color-0c1933);
    color: var(--unnamed-color-ffffff);
}

.main-content-white {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
}

.blog-category-orange {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-e06226);
    text-transform: var(--unnamed-text-transform-uppercase);
}

.blog-heading-blue {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0c1933);
}

.blog-category {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-transform: var(--unnamed-text-transform-uppercase);
}

.blog-author {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-light);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
}

.blog-heading {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
}

.handwritten-labels {
    font-family: var(--unnamed-font-family-almatian);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-32);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-152c5a);
}

.main-content {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0c1933);
}

.main-heading-white {
    font-family: var(--unnamed-font-family-lemon-milk);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
}

.main-heading {
    font-family: var(--unnamed-font-family-lemon-milk);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-152c5a);
}

.common-body {
    font-size: var(--unnamed-font-size-16);
    font-family: var(--unnamed-font-family-roboto);
    font-weight: var(--unnamed-font-weight-normal);
}

.orange-button {
    font-size: var(--unnamed-font-size-16);
    font-family: var(--unnamed-font-family-roboto);
    padding: 15px 30px;
    font-weight: var(--unnamed-font-weight-medium);
    background-color: var(--unnamed-color-e06226);
    color: var(--unnamed-color-ffffff);
    text-decoration: none;
}

.proxima-orange-bold {
    color: var(--unnamed-color-e06226);
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-size: var(--unnamed-font-size-18);
    text-transform: var(--unnamed-text-transform-uppercase);
    font-weight: var(--unnamed-font-weight-bold);
}

.proxima-bold {
    color: var(--unnamed-color-0c1933);
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-size: var(--unnamed-font-size-18);
    font-weight: var(--unnamed-font-weight-bold);
}

.small-font {
    font-size: var(--unnamed-font-size-14);
    font-family: var(--unnamed-font-family-roboto);
    font-weight: var(--unnamed-font-weight-normal);
}

.long-padding {
    padding: 100px 0;
}

.medium-padding {
    padding: 85px 0;
}

.small-padding {
    padding: 50px 0;
}

.extra-small-padding {
    padding: 30px 0;
}

.long-margin {
    margin: 100px auto;
}

.medium-margin {
    margin: 85px auto;
}

.small-margin {
    margin: 50px auto;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

.container,
.container-fluid {
    max-width: 1170px;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.breadcrumb .breadCrumbMenu .custom-breadcrumb {
    font-size: var(--unnamed-font-size-12);
    color: var(--unnamed-color-e06226);
    font-weight: var(--unnamed-font-weight-bold);
}

.breadcrumb .breadCrumbMenu .custom-breadcrumb .breadcrumb-link {
    color: var(--unnamed-color-939393);
    font-weight: var(--unnamed-font-weight-normal);
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    text-decoration: none;
}

.breadcrumb .breadCrumbMenu .custom-breadcrumb span.breadcrumb-link-wrap:after {
    color: var(--unnamed-color-939393);
    content: "|";
    padding: 10px;
}

.main-header {
    padding: 20px 0;
    transition: .3s;
    background-color: var(--unnamed-color-ffffff);
}

.home-page .main-header {
    background-color: transparent;
}

.main-header .navbar-nav li {
    margin-left: 20px;
}

.home-page .main-header .colour-logo {
    display: none;
}

.home-page .main-header .white-logo {
    display: inline-block;
}

.home-page .main-header.sticky-active .white-logo {
    display: none;
}

.home-page .main-header.sticky-active .colour-logo {
    display: inline-block;
}

.main-header.sticky-active {
    background-color: var(--unnamed-color-ffffff);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.1);
}

.main-header .navbar-nav a {
    color: var(--unnamed-color-152c5a);
    font-family: var(--unnamed-font-family-lemon-milk), sans-serif;
    text-transform: uppercase;
    font-size: var(--unnamed-font-size-12);
    font-weight: var(--unnamed-font-weight-bold);
    text-decoration: none;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.main-header .navbar-nav li.current-menu-item a,
.main-header .navbar-nav li a:hover {
    color: var(--unnamed-color-e06226);
}

.main-header .navbar-nav li a:hover {
    text-decoration: underline;
}

.video-section .video-wrapper {
    position: relative;
}

.video-section .video-wrapper img {
    border-radius: 20px;
    width: 85%;
}

.video-section .video-wrapper i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 60px;
    color: var(--unnamed-color-ffffff);
    transform: translate(-50%, -50%);
}

.steps-section .steps-detail-section {
    background: linear-gradient(to right, #FBFAFC 0% 50%, var(--unnamed-color-f3f2f7) 50% 100%);
}

.steps-section .step-number {
    font-size: 80px;
    color: var(--unnamed-color-e06226);
    opacity: 0.2;
    font-weight: var(--unnamed-font-weight-bold);
}

.steps-section .step-content {
    height: 100vh;
    display: flex;
}

.steps-section .step-content .step-detail {
    align-self: center;
}

.steps-section .step-image {
    position: sticky;
    top: 80px;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.steps-section .step-image .image-content {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    justify-content: end;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
}

.steps-section .step-image .image-content.active {
    opacity: 1;
}

.steps-section h4 {
    color: var(--unnamed-color-152c5a);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-16);
    margin-bottom: 20px;
    font-family: var(--unnamed-font-family-lemon-milk), sans-serif;
}

.steps-section .step-image img {
    margin: 30px 0;
    width: 85%;
}

.steps-section .col-md-6:last-child .step-image img {
    margin-bottom: 0;
}

.banner-section .container-fluid,
.why-section .container-fluid {
    /* padding-left: 112px; */
    /* padding-right: 0; */
    overflow: hidden;
}

.why-section .why-item {
    margin-bottom: 20px;
    margin-left: -55px;
}

.why-section .bullet {
    width: 35px;
}

.why-section .description {
    margin-left: 20px;
    width: calc(100% - 90px);
    color: var(--unnamed-color-0c1933);
    font-size: var(--unnamed-font-size-16);
}

.why-section a.cta-button {
    margin-top: 10px;
    padding: 15px 40px;
}

.who-we-are-section,
.effective-marketing-section,
.our-services-section,
body.home-page,
body.about-us-page,
body.contact-us-page,
body.case-studies-page,
body.blog-page,
body.single-blog-page,
body.single-case-studies-page,
body.single-our-services-page {
    background-color: var(--unnamed-color-f3f2f7);
    overflow-x: hidden;
}

.banner-section .google-wrapper {
    color: var(--unnamed-color-e06226);
    margin-top: 20px;
}

.banner-section .google-wrapper .google-rate,
.banner-section .google-wrapper .google-desc {
    display: inline-block;
}

.banner-section .google-wrapper .google-desc {
    color: var(--unnamed-color-ffffff);
    margin-left: 20px;
}

.banner-section .google-wrapper .google-desc p {
    font-size: var(--unnamed-font-size-14);
}

.grow-section .card .card-body {
    padding: 40px 40px 30px;
}

.grow-section .card .card-body .icon i {
    font-size: 105px;
    margin-bottom: 30px;
    color: var(--unnamed-color-e06226);
    position: relative;
}

.grow-section .card .card-body .icon i.fa-chess-queen:after {
    content: url("/wp-content/themes/twmg/assets/images/icons/icon-awesome-plus.svg");
    position: absolute;
    top: -35px;
    right: -25px;
}

.grow-section .card {
    position: relative;
    border: 3px solid #C7CBD7;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 35px;
    background: transparent;
    transition: 0.3s;
}

.grow-section .card .card-body a.cta-button {
    width: 100%;
}

.grow-section .card:hover {
    border: 3px solid var(--unnamed-color-0c1933);
    background-color: var(--unnamed-color-0c1933);
    box-shadow: 6px 6px 20px #00000029;
}

.grow-section .card:hover h2,
.grow-section .card:hover p {
    color: var(--unnamed-color-ffffff);
}

.grow-section .show-more {
    color: var(--unnamed-color-e06226);
    margin-top: 20px;
}

.video-section .learn-more {
    margin-top: 25px;
}

.video-section .learn-more,
.video-section .learn-more a,
.grow-section .learn-more,
.grow-section .learn-more a {
    color: var(--unnamed-color-152c5a);
    font-size: var(--unnamed-font-size-16);
    font-weight: var(--unnamed-font-weight-medium);
}

.video-section .learn-more span,
.grow-section .learn-more span {
    margin-left: 10px;
    font-weight: var(--unnamed-font-weight-medium);
}

.banner-section,
.increase-section {
    position: relative;
}

.banner-section .banner-text h1 {
    color: var(--unnamed-color-ffffff);
    margin-bottom: 20px;
    font-size: 26px;
    text-transform: uppercase;
    font-family: var(--unnamed-font-family-lemon-milk), sans-serif;
    font-weight: var(--unnamed-font-weight-bold);
    line-height: 1.6;
}

.banner-section .banner-text>p {
    font-size: var(--unnamed-font-size-16);
}

.banner-section .banner-text .banner-button {
    margin-top: 40px;
}

.banner-section .banner-text {
    max-width: calc(100% - 85px);
}

.banner-section .banner-text img {
    position: absolute;
    right: -80px;
    top: 50px;
}

.banner-section .partner-slider {
    background: linear-gradient(to right, #152C5A 5%, #4f5e8d);
    padding: 30px 40px;
    border-radius: 10px;
    margin: 100px auto 50px;
    display: flex;
    box-shadow: var(--box-shadow-default);
}

.banner-section .partner-slider h3 {
    color: var(--unnamed-color-ffffff);
    text-transform: uppercase;
    font-family: var(--unnamed-font-family-lemon-milk), sans-serif;
    font-weight: var(--unnamed-font-weight-bold);
    display: flex;
    vertical-align: middle;
    font-size: var(--unnamed-font-size-18);
    margin-bottom: 0;
    flex-basis: 35%;
    align-items: center;
    line-height: 1.6;
}

.banner-section .partner-slider ul {
    flex-basis: 65%;
    display: flex;
    margin-bottom: 0;
    align-items: center;
}

.banner-section .partner-slider ul li {
    display: inline-block;
    width: 100%;
    padding: 20px;
}

.increase-section .increase-item {
    background-color: var(--unnamed-color-ffffff);
    border-radius: 20px;
    box-shadow: 6px 6px 26px #00000029;
    -webkit-box-shadow: 6px 6px 26px #00000029;
    -moz-box-shadow: 6px 6px 26px #00000029;
}

.increase-section .increase-item img {
    width: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-section .bg-section {
    background-color: var(--unnamed-color-0c1933);
    clip-path: polygon(40% 0%, 100% 80%, 100% 100%, 0 100%, 0 0);
    width: 100%;
    height: 115%;
    position: absolute;
    top: -100px;
}

.banner-section .header-dots-section {
    position: absolute;
    z-index: 1;
    top: -97px;
    overflow: hidden;
    max-height: 1200px;
}

.increase-section .bg-section {
    background-color: var(--unnamed-color-0c1933);
    clip-path: polygon(0 0, 100% 0, 100% 15%, 0% 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.faqs-section button {
    position: relative;
    margin-top: 20px;
    box-shadow: none !important;
    font-size: var(--unnamed-font-size-16);
    font-weight: var(--unnamed-font-weight-bold);
    border-radius: 20px;
    padding: 15px 30px;
    padding-right: 80px;
}

.faqs-section .left-item button {
    background-color: var(--unnamed-color-0c1933);
    border: 2px solid var(--unnamed-color-152c5a);
}

.faqs-section .right-item button {
    background-color: var(--unnamed-color-f3f2f7);
    color: var(--unnamed-color-152c5a);
    border: 2px solid #C7CBD7;
}

.faqs-section .left-item:first-child button,
.faqs-section .right-item:first-child button {
    margin-top: 0;
}

.faqs-section button:after {
    content: "\f068";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
}

.faqs-section button.collapsed:after {
    content: "\2b";
}

.faqs-section .right-item button:after {
    color: #C7CBD7;
}

.faqs-section .faqs-item .card-body {
    border: 0;
    background: transparent;
}

.about-section p {
    font-size: var(--unnamed-font-size-16);
    color: var(--unnamed-color-0c1933);
}

.about-section .card {
    padding: 40px;
    border: 0;
    border-radius: 20px;
    margin-top: -150px;
}

.about-section .card-title h2 {
    font-size: var(--unnamed-font-size-18);
    color: var(--unnamed-color-152c5a);
    font-family: var(--unnamed-font-family-lemon-milk), sans-serif;
    font-weight: var(--unnamed-font-weight-bold);
}

.partner-list {
    margin-top: 35px;
}

.partner-list img {
    padding: 5px 0;
    width: 70% !important;
    margin: auto;
}

.about-image-section {
    background: linear-gradient(to bottom, var(--unnamed-color-f3f2f7) 50%, var(--unnamed-color-ffffff) 50%);
}

.about-image span {
    margin-top: 13px;
    display: block;
    color: var(--unnamed-color-939393);
    font-size: var(--unnamed-font-size-12);
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-size: var(--unnamed-font-weight-normal);
}

.about-description-section {
    background-color: var(--unnamed-color-ffffff);
}

.about-description-section .about-main-desc p {
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-24);
    color: var(--unnamed-color-152c5a);
    line-height: 2.5rem;
}

.about-description-section .about-extra-desc p {
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    color: var(--unnamed-color-152c5a);
}

.who-we-are-section ul li,
.who-we-are-section .why-wrapper p {
    color: var(--unnamed-color-152c5a);
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-16);
}

.who-we-are-section ul.why-we-do-list li {
    font-size: var(--unnamed-font-size-18);
}

.who-we-are-section .col-md-4:not(:last-child) .who-we-are-wrapper {
    border-right: 3px solid rgba(21, 44, 90, 0.2);
    width: 95%;
}

.who-we-are-section .col-md-4:not(:last-child) .who-we-are-wrapper ul {
    padding-right: 85px;
}

.about-us-page .letter-section {
    background: linear-gradient(90deg, var(--unnamed-color-0c1933) 0%, #264583 100%);
    color: var(--unnamed-color-ffffff);
}

.home-page .letter-section ul li::before {
    content: "\25B6";
    color: var(--unnamed-color-e06226);
    font-weight: bold;
    display: inline-block;
    margin-right: 15px;
}

.home-page .letter-section ul li {
    font-size: var(--unnamed-font-size-18);
    font-weight: var(--unnamed-font-weight-medium);
    margin-bottom: 15px;
}

.home-page .letter-section ul {
    list-style: none;
}

.letter-section span.name {
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-16);
}

.letter-section .person-image img {
    position: absolute;
    bottom: 0;
}

.our-team-section img {
    border-radius: 20px;
}

.contact-divide-section {
    background: url("/wp-content/themes/twmg/assets/images/divide-background.png") no-repeat center center;
    background-size: cover;
    padding: 185px 0;
}

.contact-divide-section .icon {
    width: 150px;
}

.contact-us-section .card {
    border: 0;
    border-radius: 20px;
    color: var(--unnamed-color-152c5a);
    background-color: var(--unnamed-color-ffffff);
    padding: 50px 40px 0;
    margin-top: -150px;
    box-shadow: 6px 6px 20px #00000029;
    width: 75%;
    margin-left: 60px;
}

.contact-us-section .card label {
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-weight: var(--unnamed-font-weight-normal);
    font-size: 14px;
    position: absolute;
    top: 14px;
    z-index: 9;
    margin: 0 10px;
    background: var(--unnamed-color-ffffff);
    padding: 0 5px;
}

.contact-us-section .card .wpcf7-form-control {
    width: 100%;
    padding: 4px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid rgba(12, 25, 51, .2);
    padding: 10px 15px;
    font-size: 14px;
}

.contact-us-section .card .wpcf7-form-control::-webkit-input-placeholder {
    color: var(--unnamed-color-0c1933);
    opacity: .2;
}

.contact-us-section .card .wpcf7-form-control:-ms-input-placeholder {
    color: var(--unnamed-color-0c1933);
    opacity: .2;
}

.contact-us-section .card .wpcf7-form-control::placeholder {
    color: var(--unnamed-color-0c1933);
    opacity: .2;
}

.contact-us-section .card form p {
    margin-bottom: 10px;
    position: relative;
}

.contact-us-section .card form .wpcf7-submit {
    color: var(--unnamed-color-ffffff);
    background-color: var(--unnamed-color-e06226);
    font-weight: var(--unnamed-font-weight-bold);
    border-radius: 5px;
    border: 0;
    padding: 13px;
}

.contact-us-section .card form p .wpcf7-submit:before {
    content: "\f1d8";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: var(--unnamed-font-size-16);
    margin-right: 10px;
}

.contact-us-section .border-box {
    position: relative;
    border-radius: 20px;
    border: 3px solid rgba(21, 44, 90, 0.2);
    width: 205px;
    display: inline-block;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.contact-us-section .border-box h3 {
    color: var(--unnamed-color-152c5a);
    text-align: center;
    font-family: var(--unnamed-font-family-futura-demi), sans-serif;
    font-size: var(--unnamed-font-size-18);
    background: var(--unnamed-color-f3f2f7);
    margin: auto;
    display: table;
    margin-top: -13px;
}

.contact-us-section .border-box .detail p:not(:last-child) {
    margin-bottom: 5px;
}

.contact-us-section .border-box .detail p:last-child {
    margin-bottom: 0;
}

.contact-us-section .border-box .detail i {
    color: var(--unnamed-color-e06226);
    font-size: var(--unnamed-font-size-16);
    margin-right: 10px;
}

.contact-us-section .border-box .detail span {
    font-size: var(--unnamed-font-size-16);
    font-family: var(--unnamed-font-family-futura-medium), sans-serif;
    color: var(--unnamed-color-152c5a);
}

.contact-us-section .join-wrapper a {
    padding: 15px 45px;
    border-radius: 5px;
    display: inline-block;
}

.our-services-section .card-image {
    margin-top: -150px;
}

.our-services-section .card-image img {
    border-radius: 20px;
    box-shadow: 6px 6px 20px #00000029;
    margin-bottom: 20px;
    min-height: 314px;
    object-fit: cover;
}

.potential-business-section {
    background: linear-gradient(to bottom, var(--unnamed-color-ffffff) 0% 78%, var(--unnamed-color-f3f2f7) 78% 100%);
}

.potential-business-section .card {
    border: 0;
    box-shadow: 6px 6px 20px #00000029;
}

.potential-business-section .card.plus {
    border: 3px solid var(--unnamed-color-152c5a);
}

.potential-business-section .card .card-head {
    background-color: var(--unnamed-color-0c1933);
    padding: 70px 0;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.potential-business-section .card .card-head span {
    position: absolute;
    top: -15px;
    background-color: #FBFBFC;
    padding: 0 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    border: 3px solid var(--unnamed-color-0c1933);
    font-family: var(--unnamed-font-family-lemon-milk), sans-serif;
    font-weight: var(--unnamed-font-weight-bold);
    text-transform: uppercase;
    font-size: 9px;
    padding: 5px 20px;
}

.potential-business-section .card .card-head i {
    font-size: 96px;
    color: var(--unnamed-color-e06226);
    position: relative;
}

.potential-business-section .card .card-head i.fa-chess-queen {
    font-size: 100px;
}

.potential-business-section .card .card-head i.fa-chess-queen:after {
    content: url("/wp-content/themes/twmg/assets/images/icons/icon-awesome-plus.svg");
    position: absolute;
    top: -65px;
    right: -15px;
}

.potential-business-section .card .card-body {
    padding: 30px 30px 0;
}

.potential-business-section .card .card-body .card-icon {
    border-top: 3px solid rgba(21, 44, 90, .2);
}

.potential-business-section .card .card-body .card-icon p i {
    margin-right: 10px;
    font-size: var(--unnamed-font-size-18);
    display: flex;
}

.potential-business-section .card .card-footer {
    border-radius: 0 0 15px 15px;
    border: 0;
    background-color: var(--unnamed-color-ffffff);
    padding: 0 30px 35px;
}

.potential-business-section .card.plus .card-footer {
    padding: 30px;
    background-color: var(--unnamed-color-0c1933);
}

.potential-business-section .card .card-footer a.cta-button {
    display: block !important;
    text-align: center;
    font-size: var(--unnamed-font-size-14);
    padding: 15px 10px;
}

.potential-business-section .card .card-body .card-icon p {
    margin-bottom: 20px;
    display: flex;
}

.effective-marketing-section .desc {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.effective-marketing-section .main-text {
    margin-bottom: 40px;
}

.effective-marketing-section .digital-item {
    position: relative;
    padding: 70px 20px 40px;
    color: var(--unnamed-color-0c1933);
    border-radius: 20px;
    border: 2px solid rgba(21, 44, 90, 0.2);
    margin-bottom: 30px;
    cursor: pointer;
    width: 100%;
    height: 275px;
    transition: 0.3s;
}

.effective-marketing-section .digital-item:hover {
    background-color: var(--unnamed-color-0c1933);
    color: var(--unnamed-color-ffffff);
}

.effective-marketing-section .digital-item img {
    width: 100px;
}

.effective-marketing-section .digital-item .digital-desc {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0 20px;
    transform: translate(-50%, -50%);
    width: 100%;
}

.effective-marketing-section .digital-item:hover img,
.effective-marketing-section .digital-item:hover h4 {
    display: none;
}

.effective-marketing-section .digital-item:hover .digital-desc {
    display: block;
}

.effective-marketing-section .digital-item h4,
.effective-marketing-section .digital-item h5 {
    margin: 20px 0;
}

.effective-marketing-section .digital-item h5 {
    color: var(--unnamed-color-ffffff);
    font-size: var(--unnamed-font-size-18);
    margin-bottom: 10px;
}

.effective-marketing-section .digital-item a {
    color: var(--unnamed-color-e06226);
}

.effective-marketing-section .digital-item .recommended {
    position: absolute;
    bottom: -18px;
    transform: translateX(-50%);
    left: 50%;
    width: 36px;
    height: 36px;
    border: 2px solid #CDD1DC;
    border-radius: 100%;
    background-color: var(--unnamed-color-ffffff);
}

.effective-marketing-section .digital-item .recommended i {
    font-size: var(--unnamed-font-size-16);
    margin-top: 8px;
    color: var(--unnamed-color-152c5a);
}

.effective-marketing-section .desc .recommended {
    font-size: var(--unnamed-font-size-16);
    color: var(--unnamed-color-152c5a);
    margin-right: 15px;
    border: 2px solid #CDD1DC;
    border-radius: 100%;
    padding: 4px;
    width: 36px;
    height: 36px;
    background-color: var(--unnamed-color-ffffff);
}

.effective-marketing-section .desc a {
    color: var(--unnamed-color-0c1933);
    font-weight: var(--unnamed-font-weight-bold);
}

.subscribe-widget-shortcode {
    margin-top: 50px;
    padding: 30px 20px 15px;
    border: 2px solid var(--unnamed-color-152c5a);
    border-radius: 20px;
    background-color: var(--unnamed-color-0c1933);
    color: var(--unnamed-color-ffffff);
    text-align: center;
}

.subscribe-widget-shortcode .card-body {
    padding: 0;
}

.subscribe-widget-shortcode .card-body .icon i {
    font-size: 88px;
    margin-bottom: 15px;
    color: var(--unnamed-color-e06226);
    position: relative;
}

.subscribe-widget-shortcode .card-body .icon i.fa-chess-queen::after {
    content: url("/wp-content/themes/twmg/assets/images/icons/icon-awesome-plus.svg");
    position: absolute;
    top: -22px;
    right: -22px;
    transform: scale(0.6);
}

.subscribe-widget-shortcode a.cta-button {
    margin-top: 10px;
    width: 100%;
    font-size: var(--unnamed-font-size-14);
}

.subscribe-widget-shortcode .card-body h4 {
    font-size: var(--unnamed-font-size-14);
    font-weight: var(--unnamed-font-weight-bold);
    font-family: var(--unnamed-font-family-lemon-milk);
    line-height: 1.4;
}

.case-studies-extra-section {
    padding: 75px 0;
}

.case-studies-extra-section h3 {
    font-family: var(--unnamed-font-family-lemon-milk);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    color: var(--unnamed-color-152c5a);
    text-transform: var(--unnamed-text-transform-uppercase);
    margin-bottom: 30px;
}

.single-our-services-section p,
.case-studies-extra-section p,
.single-case-studies-section p {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-weight: var(--unnamed-font-weight-normal);
    color: var(--unnamed-color-152c5a);
    font-size: var(--unnamed-font-size-16);
    margin-bottom: 30px;
    line-height: 2;
}

.single-case-studies-section p.results-section {
    width: 55%;
    margin: 0 auto 30px;
}

.single-case-studies-section .box-shadow figure img {
    box-shadow: 10px 10px 20px #00000029;
    border-radius: 20px;
}

.single-our-services-section .floating-image,
.single-case-studies-section .floating-image {
    margin-top: -170px;
}

.single-case-studies-section .size-full,
.single-case-studies-section .size-full img {
    width: 100%;
}

.single-case-studies-section .counter h4 {
    color: var(--unnamed-color-152c5a);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: 60px;
}

.single-case-studies-section .counter h4:after {
    content: "\f102";
    font-family: "Font Awesome 6 Free";
    font-size: 42px;
    margin-left: 20px;
    color: var(--unnamed-color-e06226);
}

.single-case-studies-section .counter .wp-block-column:first-child h4:after {
    content: "\f106";
}

.single-case-studies-section .counter {
    padding: 70px 0;
}

.single-case-studies-section .counter p {
    color: var(--unnamed-color-152c5a);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: 25px;
}

.single-case-studies-section .counter .wp-block-column:not(:last-child) {
    border-right: 5px solid var(--unnamed-color-152c5a);
}

.testimonial-wrapper {
    padding: 100px 0;
    background-color: rgba(12, 25, 51, .9);
    color: var(--unnamed-color-ffffff)
}

.testimonial-wrapper .google-wrapper {
    color: var(--unnamed-color-e06226);
    margin-bottom: 20px;
}

.testimonial-wrapper p {
    font-weight: var(--unnamed-font-weight-light);
    font-size: var(--unnamed-font-size-18);
}

.testimonial-wrapper span {
    display: block;
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-20);
    padding-top: 10px;
}

body.single-case-studies-page .top-banner h1 {
    font-size: 26px;
    line-height: 1.2;
}

.case-studies-section a {
    text-decoration: none;
}

.case-studies-section .featured-item {
    border: 3px solid rgba(21, 44, 90, 0.2);
    cursor: pointer;
}

.case-studies-section .featured-item .excerpt,
.case-studies-section .case-item .excerpt {
    display: none;
}

.case-studies-section .featured-item .excerpt p,
.case-studies-section .case-item .excerpt p {
    font-size: var(--unnamed-font-size-16);
    color: #000;
}

.case-studies-section .featured-item .featured-body>i,
.case-studies-section .case-item .featured-body>i {
    font-size: 60px;
    color: var(--unnamed-color-0c1933);
    margin-bottom: 20px;
}

.case-studies-section .featured-item h3 {
    font-weight: var(--unnamed-font-weight-bold);
    color: var(--unnamed-color-0c1933);
    font-size: var(--unnamed-font-size-30);
    width: 50%;
}

.case-studies-section .case-item .read-more {
    position: absolute;
    width: 100%;
}

.case-studies-section .featured-item .read-more i,
.case-studies-section .case-item .read-more i {
    color: var(--unnamed-color-e06226);
    font-size: 34px
}

.case-studies-section .case-item:hover .featured-body>i {
    margin-bottom: 25px;
}

.case-studies-section .case-item {
    border: 3px solid rgba(21, 44, 90, 0.2);
    cursor: pointer;
    min-height: 332px;
    transition: 0.3s;
}

.case-studies-section .case-item .read-more {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

.case-studies-section .case-item h3 {
    font-weight: var(--unnamed-font-weight-bold);
    color: var(--unnamed-color-0c1933);
    font-size: var(--unnamed-font-size-26);
    width: 80%;
}

.case-studies-section .case-item:hover h4 {
    display: none;
}

.case-studies-section .case-item:hover .featured-body {
    margin-top: -42px;
}

.case-studies-section .case-item:hover {
    border-color: var(--unnamed-color-152c5a);
}

.case-studies-section .case-item:hover .excerpt {
    display: block;
}

.case-studies-section .case-item:hover .read-more {
    background-color: var(--unnamed-color-152c5a);
    border-radius: 0 0 15px 15px;
}

.case-studies-section .case-item:hover .read-more h6 {
    color: var(--unnamed-color-ffffff);
}

.latest-article-section .card .main-card {
    display: flex;
    flex-direction: column;
}

.blog-featured-section .card,
.latest-article-section .card {
    border: 0;
}

.latest-article-section .card .blog-image span,
.blog-featured-section .card .card-head span {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: var(--unnamed-color-e06226);
}

.latest-article-section .card .card-body {
    padding: 25px 30px;
}

.blog-featured-section .card .card-body {
    padding: 20px 25px;
}

.latest-article-section .card .card-body h5 {
    margin-bottom: 20px;
}

.latest-article-section .card .card-footer,
.blog-featured-section .card .card-footer {
    display: flex;
    color: var(--unnamed-color-ffffff);
    align-items: center;
    padding: 0 25px 25px;
}

.latest-article-section .card .card-footer {
    padding: 10px 30px 20px;
}

.latest-article-section .card .card-footer .author-image,
.blog-featured-section .card .card-footer .author-image {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 15px;
}

.latest-article-section .card .card-footer .date-published,
.blog-featured-section .card .card-footer .date-published {
    margin-left: auto;
}

.latest-article-section .card .blog-image img {
    object-fit: cover;
}

.categories-widget {
    padding: 20px 30px;
    border: 2px solid var(--unnamed-color-152c5a);
}

.categories-widget .search {
    position: relative;
    margin-bottom: 20px;
}

.categories-widget .search input {
    border-radius: 5px;
    border: 1px solid #BCE0FD;
    padding: 10px 12px;
}

.categories-widget .search button {
    position: absolute;
    top: 50%;
    right: 5px;
    background-color: transparent;
    color: var(--unnamed-color-152c5a);
    outline: 0;
    box-shadow: none;
    border: 0;
    transform: translateY(-50%);
}

.categories-widget .categories-list {
    border-top: 1px solid var(--unnamed-color-152c5a);
    padding-top: 30px;
}

.categories-widget .categories-list h5 {
    color: var(--unnamed-color-e06226);
    font-size: var(--unnamed-font-size-20);
    margin-bottom: 15px;
    text-transform: var(--unnamed-text-transform-uppercase);
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-weight: var(--unnamed-font-weight-medium);
}

.categories-widget .categories-list ul li {
    font-size: var(--unnamed-font-size-18);
    font-weight: var(--unnamed-font-weight-medium);
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    color: var(--unnamed-color-152c5a);
    margin-bottom: 10px;
}

.subscribe-widget {
    padding: 30px;
}

.subscribe-widget h5 {
    font-family: var(--unnamed-font-family-lemon-milk);
    font-size: var(--unnamed-font-size-14);
    font-weight: var(--unnamed-font-weight-bold);
    color: var(--unnamed-color-ffffff);
    text-transform: var(--unnamed-text-transform-uppercase);
    margin-bottom: 25px;
}

.subscribe-widget input {
    margin-bottom: 10px;
    padding: 12px 20px;
}

.subscribe-widget button {
    background-color: var(--unnamed-color-e06226);
    color: var(--unnamed-color-ffffff);
    padding: 15px 30px;
    font-weight: var(--unnamed-font-weight-bold);
}

.subscribe-widget input,
.subscribe-widget button {
    font-size: var(--unnamed-font-size-14);
    border-radius: 5px;
    border: 0;
}

.categories-section {
    padding: 50px 0;
}

.categories-section ul li {
    padding: 10px 27px;
    border-radius: 20px;
    border: 3px solid var(--unnamed-color-152c5a);
    margin-right: 22px;
    margin-bottom: 10px;
    line-height: 1;
}

.categories-section ul li a {
    text-decoration: none;
    text-transform: var(--unnamed-text-transform-uppercase);
    color: var(--unnamed-color-152c5a);
    font-size: var(--unnamed-font-size-12);
    font-weight: var(--unnamed-font-weight-medium);
}

body.blog-page .cta-section {
    margin-top: 100px;
}

body.single-blog-page .top-banner .box-style .sub-banner {
    width: 65% !important;
}

body.single-blog-page .top-banner .box-style .sub-banner h1 {
    font-size: var(--unnamed-font-size-18);
}

body.single-blog-page .top-banner .box-style .sub-banner span {
    font-size: var(--unnamed-font-size-12);
    top: -22px
}

body.single-blog-page .top-banner .box-style .sub-banner p {
    font-family: var(--unnamed-font-family-roboto);
    font-weight: var(--unnamed-font-weight-light);
}

.single-blog-section {
    margin-top: -50px;
}

.single-blog-section .blog-detail {
    width: 65%;
}

.single-blog-section .blog-detail .featured-image {
    margin-bottom: 45px;
}

.case-studies-extra-section a,
.single-our-services-section a,
.single-case-studies-section a,
.single-blog-section a {
    color: var(--unnamed-color-e06226);
}

.single-our-services-section h3,
.single-case-studies-section h3,
.single-blog-section h3 {
    font-family: var(--unnamed-font-family-lemon-milk);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    color: var(--unnamed-color-152c5a);
    text-transform: var(--unnamed-text-transform-uppercase);
    margin-top: 65px;
    margin-bottom: 30px;
}

.single-our-services-section .col img {
    border-radius: 20px;
    border: 3px solid var(--unnamed-color-152c5a);
    margin-bottom: 50px;
}

.single-blog-section p {
    color: var(--unnamed-color-0c1933);
    font-size: var(--unnamed-font-size-16);
    margin-bottom: 30px;
}

.case-studies-extra-section img,
.single-blog-section figure img {
    border-radius: 20px;
    width: 100%;
}

.single-case-studies-section figure figcaption,
.single-blog-section figure figcaption {
    text-align: center;
    color: var(--unnamed-color-939393);
    font-size: var(--unnamed-font-size-12);
    font-family: var(--unnamed-font-family-proxima-nova);
    margin-top: 15px;
}

.single-blog-section .additional-wrapper {
    padding: 30px 0 15px;
    border-bottom: 3px solid rgba(21, 44, 90, 0.2);
    margin-bottom: 50px;
}

.single-blog-section .share-wrapper p,
.single-blog-section .actions-wrapper p {
    font-size: var(--unnamed-font-size-16);
    color: var(--unnamed-color-0c1933);
    font-weight: var(--unnamed-font-weight-bold);
    margin-bottom: 0;
}

body.single-blog-page .tooltip-inner {
    background: var(--unnamed-color-ffffff);
    border-radius: 20px;
    padding: 10px 25px;
    color: var(--unnamed-color-152c5a);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-16);
    margin-bottom: 30px;
    white-space: nowrap;
}

body.single-blog-page .bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--unnamed-color-ffffff);
    top: -30px;
    border-width: 15px;
}

.single-blog-section .related-posts-section .related-item {
    border-radius: 20px;
    border: 3px solid rgba(21, 44, 90, 0.2);
    padding: 25px;
    margin-bottom: 20px;
}

.single-blog-section .related-categories-section {
    padding-bottom: 60px;
}

.single-blog-section .related-categories-section ul li {
    padding: 10px 25px;
    border-radius: 20px;
    border: 3px solid rgba(21, 44, 90, 0.2);
    margin-right: 17px;
    margin-bottom: 10px;
    line-height: 1;
}

.single-blog-section .related-categories-section ul li a {
    text-decoration: none;
    text-transform: var(--unnamed-text-transform-uppercase);
    color: var(--unnamed-color-152c5a);
    font-size: var(--unnamed-font-size-12);
    font-weight: var(--unnamed-font-weight-medium);
}

.single-blog-section .share-wrapper ul {
    column-gap: 10px;
    margin-left: 10px;
}

.single-blog-section .share-wrapper ul li i,
.single-blog-section .actions-wrapper ul li i {
    font-size: var(--unnamed-font-size-22);
}

.single-blog-section .actions-wrapper ul {
    column-gap: 15px;
    margin-left: 15px;
}

.top-banner .main-banner span,
.top-banner .sub-banner span {
    margin-bottom: 10px;
    display: block;
}

.top-banner p.banner-desc {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-size: var(--unnamed-font-size-16);
    color: var(--unnamed-color-ffffff);
    font-weight: var(--unnamed-font-weight-normal);
}

.top-banner .main-banner {
    margin: 200px 0 0;
}

.top-banner .main-banner.box-style,
.top-banner .main-banner.subscribe-style {
    margin: 100px 0;
}

.cta-banner form input,
.cta-banner form button,
.top-banner .main-banner.subscribe-style form input,
.top-banner .main-banner.subscribe-style form button {
    font-size: var(--unnamed-font-size-14);
    box-shadow: none;
    border: 0;
}

.cta-banner form input,
.top-banner .main-banner.subscribe-style form input {
    padding: 15px 20px;
    border-radius: 5px;
}

.cta-banner form .input-group button.btn,
.top-banner .main-banner.subscribe-style form .input-group button.btn {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.top-banner .box-style .sub-banner {
    padding: 30px;
    border: 2px solid rgba(255, 255, 255, .1);
}

.top-banner .box-style .sub-banner span {
    top: -23px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    letter-spacing: 1.8px;
    background-color: var(--unnamed-color-0c1933);
    font-size: var(--unnamed-font-size-18);
    white-space: nowrap;
    font-family: var(--unnamed-font-family-proxima-nova);
    color: var(--unnamed-color-e06226);
    font-weight: var(--unnamed-font-weight-medium);
}

.top-banner .box-style .sub-banner p {
    color: var(--unnamed-color-ffffff);
    font-size: var(--unnamed-font-size-16);
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-weight: var(--unnamed-font-weight-normal);
    margin-bottom: 0;
}

.cta-section {
    background: linear-gradient(to bottom, var(--unnamed-color-f3f2f7) 50%, #E7E7EF 50%);
}

.cta-section .container {
    position: relative;
}

.cta-section .outer-border {
    /* background: url("/wp-content/themes/twmg/assets/images/cta-border.svg#svgView(preserveAspectRatio(none))"); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0 30px;
    width: 75%;
}

.cta-subscribe-form input {
    padding: 15px 20px;
    border-radius: 0;
    font-size: var(--unnamed-font-size-14);
    box-shadow: none;
    border: 0;
    color: #636363;
}

.cta-banner {
    padding: 75px 70px;
    box-shadow: var(--box-shadow-default);
    -webkit-box-shadow: var(--box-shadow-default);
    -moz-box-shadow: var(--box-shadow-default);
}

.cta-banner h4 .underscore:after {
    /* content: url("/wp-content/themes/twmg/assets/images/cta-underscore.svg"); */
    position: absolute;
    width: 125%;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}

a.cta-button {
    border-radius: 5px;
    color: var(--unnamed-color-ffffff);
    text-decoration: none;
    display: inline-block;
}

a.cta-button i {
    margin-right: 10px;
}

.cta-banner form {
    max-width: 650px;
}

.card-article a,
.latest-article-section a {
    text-decoration: none;
}

.card-article .prev-arrow,
.card-article .next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    background: transparent;
    border: 0;
    font-size: 60px;
    color: var(--unnamed-color-e06226);
}

.card-article .prev-arrow {
    left: -50px;
}

.card-article .next-arrow {
    right: -50px;
}

.card-article .slick-slide {
    margin: 0 calc(var(--bs-gutter-x) * .5);
}

.card-article .slick-arrow.slick-disabled {
    display: none !important;
}

body.single-our-services-page .blog-featured-section h3 {
    margin-bottom: 10px;
}

body.single-our-services-page .single-our-services-section h3.no-margin {
    margin-bottom: 10px;
}


body.single-our-services-page .faqs-section .faqs-wrapper {
    margin-bottom: 100px;
}

.client-results-wrapper .client-item {
    padding: 15px 0;
    border-bottom: 3px solid rgba(21, 44, 90, 0.2);
}

.client-results-wrapper .client-item .collapse.show {
    position: relative;
}

.client-results-wrapper .client-item .collapse.show:before {
    content: "\f105";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    left: -55px;
    top: 0;
    font-size: 40px;
    color: var(--unnamed-color-0c1933);
}

.client-results-wrapper .client-item button {
    position: relative;
    background-color: transparent;
    color: var(--unnamed-color-0c1933);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-24);
    border: 0;
    box-shadow: none !important;
    outline: none;
    padding: 0;
}

.client-results-wrapper .client-item button:after {
    content: "";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
    color: #C7CBD7;
}

.client-results-wrapper .client-item button.collapsed::after {
    content: "\2b";
}

.client-results-wrapper .client-item .card {
    background-color: transparent;
    border: 0;
    color: var(--unnamed-color-0c1933);
    font-size: var(--unnamed-font-size-16);
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    padding: 0;
}

.client-results-wrapper .client-item .card p {
    margin-bottom: 5px;
}

.client-results-wrapper .client-item .card span {
    font-weight: var(--unnamed-font-weight-bold);
    margin-bottom: 40px;
}

.client-results-wrapper .side-image {
    margin-bottom: 20px;
}

.client-results-wrapper .side-image img {
    border-radius: 20px;
}

.client-results-wrapper .traffic-counter {
    border-radius: 20px;
    overflow: hidden;
}

.client-results-wrapper .traffic-counter .counter-item:nth-child(odd) {
    background-color: var(--unnamed-color-ffffff);
}

.client-results-wrapper .traffic-counter .counter-item:nth-child(even) {
    background-color: var(--unnamed-color-0c1933);
}

.client-results-wrapper .traffic-counter .counter-item:nth-child(odd) h3 {
    color: var(--unnamed-color-152c5a);
}

.client-results-wrapper .traffic-counter .counter-item:nth-child(even) h3 {
    color: var(--unnamed-color-ffffff);
}

.client-results-wrapper .traffic-counter .counter-item:nth-child(odd) span {
    color: var(--unnamed-color-152c5a);
}

.client-results-wrapper .traffic-counter .counter-item:nth-child(even) span {
    color: var(--unnamed-color-ffffff);
}

.client-results-wrapper .traffic-counter .counter-item {
    width: 100%;
    text-align: center;
    padding: 15px;
}

.client-results-wrapper .traffic-counter .counter-item h3 {
    margin: 0;
    font-size: 40px;
    font-weight: var(--unnamed-font-weight-bold);
    font-family: var(--unnamed-font-family-roboto);
    margin-bottom: 5px;
}

.client-results-wrapper .traffic-counter .counter-item span {
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: 0;
}

.service-cta-section {
    color: var(--unnamed-color-ffffff);
    background: transparent linear-gradient(90deg, var(--unnamed-color-0c1933) 0%, #264583 100%) 0% 0% no-repeat padding-box;
}

.service-cta-section p {
    font-size: var(--unnamed-font-size-18);
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-weight: var(--unnamed-font-weight-normal);
    margin-bottom: 30px;
}

.service-cta-section a.cta-button {
    margin-top: 20px;
}

.service-cta-section .cta-item .bullet {
    width: 20px;
    margin-right: 25px;
}

footer {
    background-color: #E7E7EF;
}

footer h5 {
    text-transform: uppercase;
    color: var(--unnamed-color-152c5a);
    margin-bottom: 10px;
    font-size: var(--unnamed-font-size-18);
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-weight: var(--unnamed-font-weight-bold);
}

footer .footer-desc {
    color: var(--unnamed-color-152c5a);
    margin-bottom: 45px;
    font-size: var(--unnamed-font-size-14);
    width: 90%;
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-weight: var(--unnamed-font-weight-normal);
}

footer .footer-icon {
    margin-bottom: 30px;
}

footer .footer-info p,
footer .footer-info a {
    color: var(--unnamed-color-e06226);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-24);
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-weight: var(--unnamed-font-weight-bold);
}

footer .footer-info h5 {
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);

}

footer .social-icons i {
    font-size: 35px;
    color: var(--unnamed-color-e06226);
}

footer .social-icons li {
    margin-right: 20px;
}

footer .subscribe-form p {
    margin-bottom: 5px;
    color: var(--unnamed-color-152c5a);
    font-family: var(--unnamed-font-family-proxima-nova);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-16);
}

footer .subscribe-form input[type='email'] {
    border: 1px solid #0F1831;
    width: 100%;
    padding: 10px;
}

footer .subscribe-form input[type='submit'] {
    background-color: var(--unnamed-color-152c5a);
    padding: 10px;
    border-radius: 5px;
    color: var(--unnamed-color-ffffff);
    border: 0;
    width: 100%;
}

footer .footer-navigation a,
footer .footer-navigation a:hover {
    color: var(--unnamed-color-e06226);
    text-decoration: underline;
    display: inline-block;
    font-size: var(--unnamed-font-size-18);
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-weight: var(--unnamed-font-weight-medium);
}

footer .copyright {
    background: transparent linear-gradient(90deg, #152C5A 0%, #3D5B97 100%) 0% 0% no-repeat padding-box;
    color: var(--unnamed-color-ffffff);
    padding: 25px;
    font-size: var(--unnamed-font-size-12);
    font-family: var(--unnamed-font-family-proxima-nova), sans-serif;
    font-weight: var(--unnamed-font-weight-bold);
}